USE MASTER
GO

IF EXISTS(SELECT * FROM  SYSDATABASES WHERE NAME='QLTHUVIEN')
	
DROP DATABASE QLTHUVIEN
GO

CREATE DATABASE QLTHUVIEN
GO

USE QLTHUVIEN
GO
----------------------------------------
IF OBJECT_ID('TOPPIC') IS NOT NULL
DROP TABLE TOPPIC
GO
CREATE TABLE TOPPIC
(
	TOPPICID INT NOT NULL,
	TOPPICNAME NVARCHAR(50) NOT NULL,
	CONSTRAINT PK_TOPPIC PRIMARY KEY(TOPPICID)
)


IF OBJECT_ID('PUBLISHING_HOUSE') IS NOT NULL
DROP TABLE PUBLISHING_HOUSE
GO
CREATE TABLE PUBLISHING_HOUSE
(
	PHID INT NOT NULL,
	PHNAME NVARCHAR(100)NOT NULL,
	CONSTRAINT PK_PUBLISHING_HOUSE PRIMARY KEY(PHID)
)

IF OBJECT_ID('BOOK') IS NOT NULL
DROP TABLE BOOK
GO
CREATE TABLE BOOK
(
	BOOKID INT  NOT NULL,
	NAME NVARCHAR(100) NOT NULL,
	PHID INT NOT NULL,
	TOPPICID INT NOT NULL,
	AUTHOR NVARCHAR(MAX) NOT NULL,
	DATES DATE NOT NULL,
	PAGENUMBER INT NOT NULL CHECK(PAGENUMBER>5),
	PRICE MONEY NOT NULL CHECK(PRICE>0),
	KEPTNUMBER INT NOT NULL CHECK(KEPTNUMBER>1),
	LANGUAGES INT NOT NULL,-- Tiếng anh là 2, tiếng việt là 1, khác là 3
	CONSTRAINT PK_BOOK PRIMARY KEY(BOOKID),
	CONSTRAINT FK_BOOK_TOPPIC FOREIGN KEY(TOPPICID) REFERENCES TOPPIC,
	CONSTRAINT FK_BOOK_PUBLISHING_HOUSE FOREIGN KEY(PHID) REFERENCES PUBLISHING_HOUSE,
)

INSERT INTO TOPPIC VALUES(1,N'SỬ HỌC')
INSERT INTO TOPPIC VALUES(2,N'VĂN HỌC')
INSERT INTO TOPPIC VALUES(3,N'TOÁN HỌC ỨNG DỤNG')

INSERT INTO PUBLISHING_HOUSE VALUES(1,N'Nhà xuất bản Chính trị Quốc gia')
INSERT INTO PUBLISHING_HOUSE VALUES(2,N'Nhà xuất bản Tư pháp')
INSERT INTO PUBLISHING_HOUSE VALUES(3,N'Nhà xuất bản Hồng Đức')

INSERT INTO BOOK VALUES(1,N'Tôi Thấy Hoa Vàng Trên Cỏ Xanh',17,2,N'Nguyễn Nhật Ánh','8-6-2018',115,82000,200,1)
INSERT INTO BOOK VALUES(2,N'Lịch sử tư tưởng triết học pháp quyền Đức từ thế kỷ XVIII đến thế kỷ XX',17,1,N'Ngô Thị Mỹ Dung','1-6-2018',226,11000,150,1)
INSERT INTO BOOK VALUES(3,N'365 Birthdays Interpreted',17,6,N'Michele Knight','10-12-2016',527,41000,100,2)

select * from TOPPIC where TOPPICID in (select * from Book)
/*		

IF OBJECT_ID('AUTHOR') IS NOT NULL
DROP TABLE AUTHOR
GO
CREATE TABLE AUTHOR
(
	AUTHORID NVARCHAR(15)  NOT NULL,
	NAME NVARCHAR(50) NULL,
	PSEUDONYM NVARCHAR(50) NULL,
	ADDRES NVARCHAR(100) NULL,
	PHONE NVARCHAR(15) NULL,
	CONSTRAINT PK_AUTHOR PRIMARY KEY(AUTHORID)
)

IF OBJECT_ID('BOOK_AUTHOR') IS NOT NULL
DROP TABLE BOOK_AUTHOR
GO
CREATE TABLE BOOK_AUTHOR
(
	AUTHORID NVARCHAR(15)  NOT NULL,
	BOOKID NVARCHAR(15) NOT NULL,
	CONSTRAINT PK_BOOK_AUTHOR PRIMARY KEY(AUTHORID,BOOKID),
	CONSTRAINT FK_BOOK_AUTHOR_BOOK FOREIGN KEY(BOOKID) REFERENCES BOOK,
	CONSTRAINT FK_BOOK_AUTHOR_AUTHOR FOREIGN KEY(AUTHORID) REFERENCES AUTHOR
)
/*


