
USE  master  

IF EXISTS (SELECT * FROM sysdatabases
			WHERE name = N'thuvien')

DROP  DATABASE thuvien
GO
CREATE  DATABASE  thuvien

ON
(name = 'thuvien', FILENAME='F:\thuvien.mdf', size=5MB, maxsize=10MB, filegrowth=1MB)
LOG ON
(name= 'thuvien_log', FILENAME='F:\thuvien.ldf', size= 1MB, maxsize=4MB, filegrowth=1MB)
GO
USE thuvien
GO
---  TẠO BẢNG chu de
IF OBJECT_ID('CHUDE') IS NOT NULL
DROP TABLE CHUDE
GO
CREATE TABLE CHUDE (
ID NVARCHAR(10) not null,
TEN NVARCHAR(20) NOT NULL , 
CONSTRAINT PK_ID PRIMARY KEY (ID)

)
go
--- nha san xuat
IF OBJECT_ID('NHASANXUAT') IS NOT NULL
DROP TABLE NHASANXUAT
GO
CREATE TABLE NHASANXUAT(
MA NVARCHAR(10) not null,
TEN NVARCHAR(50)
CONSTRAINT PK_NHASANXUAT PRIMARY KEY (MA)
)
----  TẠO BẢNG Sach
IF OBJECT_ID('SACH') IS NOT NULL
DROP TABLE SACH
go
CREATE TABLE SACH (
IDNSX NVARCHAR(10) not null,
IDCHUDE NVARCHAR(10) not null,
MASACH NVARCHAR(10) not null,
TEN NVARCHAR(100),
TACGIA NVARCHAR(max),
NAMXB NVARCHAR(50),
SOTRANG NVARCHAR(10),
SOBANLUU NVARCHAR(10),
GIA float
CONSTRAINT PK_CODE PRIMARY KEY (MASACH)
CONSTRAINT FK_CHUDE_SACH FOREIGN KEY (IDCHUDE)  REFERENCES CHUDE(ID),
CONSTRAINT FK_NHASANXUAT_SACH FOREIGN KEY (IDNSX)  REFERENCES NHASANXUAT(MA)
)